@charset "utf-8";
/* CSS Document */

.middle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

body {
	margin: 0px;
}

.main {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
 	background-size: 30vw;
	background-color: #dddddd;
}

.logo{
	display: block;
	margin: auto;
	width: 5vw;
}

.timer{
	padding-top: 2vh;
	text-align: center;
	font-family: Lucida Console;
}

#countDown{
	font-size: 2vw;
}

.label{
	position: relative;
	float: left;
	font-size: 2vh;
	width: 13vh;
}

.content {
	padding: 25vh 5vw;
}
