@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: Vogue;
  src: url(Vogue.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(Roboto-Light.ttf);
}

body {
	margin: 0px;
}

.middle {
	text-align: center;
	margin: 10px auto;
}

.main {
	display: table;
	position: absolute;
    height: 100%;
    width: 100%;
	background-image: url(background.jpg);
	background-repeat: no-repeat;
 	background-size: 35vmax;
	background-color: #dddddd;
	font-family: Vogue;
	letter-spacing: 0.05em;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.content {
	display: table-cell;
    vertical-align: middle;
}

.logo{
	display: block;
	width: 100px;
	margin: 0 auto 20px auto;
}

#countDown{
	text-align: center;
	font-family: Roboto;
}

#progress-bar {
	background-color: #158f58 !important;
	font-family: Roboto;
}
